[init]
	defaultBranch = main
[core]
{{- if (or (eq .chezmoi.os "windows") (.chezmoi.kernel.osrelease | lower | contains "wsl")) }}
	sshCommand = ssh.exe
{{ else }}
	sshCommand = ssh
{{ end -}}
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- if eq .chezmoi.os "windows"}}
	program = "{{ joinPath .chezmoi.homeDir "/AppData/Local/1Password/app/8/op-ssh-sign.exe" }}"
{{- else if (.chezmoi.kernel.osrelease | lower | contains "wsl") }}
	{{- /* Expects env var USERPROFILE in WSL. If not present, run "setx WSLENV USERPROFILE/up" in cmd.exe */}}
	program = "{{ env "USERPROFILE" }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign-wsl.exe"
{{- else if eq .chezmoi.os "macos" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "linux" }}
	program = "/opt/1Password/op-ssh-sign"
{{- end }}
[push]
	autosetupRemote = true

# Git LFS
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Github
[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
	path = ~/.git.personal.github.gitconfig
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.git.personal.github.gitconfig

{{ if .is_work_machine -}}
# Azure Devops
[includeIf "hasconfig:remote.*.url:https://*@dev.azure.com/**"]
	path = ~/.git.cv.az-devops.gitconfig
[includeIf "hasconfig:remote.*.url:git@ssh.dev.azure.com:v3/*/**"]
	path = ~/.git.cv.az-devops.gitconfig

# GitLab
[includeIf "hasconfig:remote.*.url:https://git.cornelsen.de/**"]
	path = ~/.git.cv.gitlab.gitconfig
[includeIf "hasconfig:remote.*.url:git@git.cornelsen.de:*/**"]
	path = ~/.git.cv.gitlab.gitconfig
{{ end -}}
